<!-- wp:template-part {"slug":"nav"} /-->

<!-- wp:heading {"level":1} -->
<h1 class="wp-block-heading">Our Blog</h1>
<!-- /wp:heading -->

<!-- wp:query {"queryId":0,"query":{"postType":"post","orderBy":"title","order":"asc","perPage":4,"taxQuery":{"category":[3]}}} -->
<div class="wp-block-query">
	<!-- wp:post-template -->
	<!-- wp:post-title /-->
	<!-- wp:post-excerpt /-->
	<!-- wp:group {"tagName": "div", "layout":{"type": "flex", "flexWrap": "nowrap"}} -->
	<div class="wp-block-group">
		<!-- wp:post-author-name /-->
		<!-- wp:post-date /-->
	</div>
	<!-- /wp:group -->
	<!-- /wp:post-template -->
</div>
<!-- /wp:query -->
